.mask-group {
	height: 500px;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	h3 {
		font-size: 24px;
		font-weight: 400;
		text-align: center;
	}
	.wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 5%;
	}
}
