.main-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 150px;
	padding-top: 30px;
	ul {
		position: relative;
		display: flex;
		align-items: baseline;
		justify-content: center;
		list-style: none;
		width: 355px;
		height: 40px;
		padding-left: 0;
		gap: 4%;
		li {
			img {
				position: absolute;
				top: -15px;
				left: -1px;
			}
			button {
				background-color: rgba(0, 0, 0, 0);
				border: none;
				cursor: pointer;
				color: #000;
				font-size: 12px;
				font-weight: 400;
			}
		}
	}
	.secondLogo {
		width: 200px;
		height: 30px;
		margin: 10px auto 20px auto;
	}
}
