.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	height: 640px;
	gap: 5%;
	h1 {
		font-weight: bold;
		font-size: 40px;
		text-align: center;
	}
	p {
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
		font-weight: bold;
		font-size: 24px;
	}
	button {
		background-color: rgba(0, 0, 0, 0);
		border: 1px solid #fff;
		border-radius: 5px;
		cursor: pointer;
		color: #fff;
		width: 120px;
		font-size: 14px;
		font-weight: bold;
	}
}
.header-main {
	background: url('../../image/bgs/header-main.png') no-repeat center center;
	background-size: cover;
	height: 640px;
	width: 100%;
}
.header-our {
	background: url('../../image/bgs/header-our.png') no-repeat center center;
	background-size: cover;
	height: 260px;
	width: 100%;
}
.header-pleasure {
	background: url('../../image/bgs/header-pleasure.png') no-repeat center center;
	background-size: cover;
	height: 260px;
	width: 100%;
}
