.about-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 630px;
	gap: 10%;
	margin-top: 80px;
	margin-bottom: 80px;
	.girl {
		width: 275px;
		height: 355px;
	}
}
.about-main {
	margin-top: -80px;
	margin-bottom: -80px;
	width: 600px;
	height: 520px;
}
.about-main,
.about-our,
.about-pleasure {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3%;
	h2 {
		font-size: 24px;
		font-weight: 400;
	}
	.logo {
		width: 200px;
		height: 30px;
	}
	p {
		font-size: 14px;
		font-weight: 400;
		text-align: center;
	}
}
