@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

* {
	font-family: 'Merienda', cursive;
}
.app-container {
	position: relative;
	width: 1440px;
	background-color: aquamarine;
}
.main-header {
	background: url('../../image/bgs/header-main.png') no-repeat center center;
	background-size: cover;
	position: absolute;
	height: 640px;
	width: 100%;
}
